#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.card_content {
  width: 100%;
  max-width: calc(100% - 30px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  padding-bottom: 30px;
}